* {
  margin: 0 auto;
  box-sizing: border-box;
  font-weight: 600;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.wrap {
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 500px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  margin: 20px auto;
  padding: 5px;
  border-radius: 0;
  text-align: center;
}

/* .content {
  grid-area: content;
} */

.link {
  display: block;
  padding: 10px 30px;
  margin: 0 5px;
  border-radius: 35px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

.link:hover {
  color: #fff;
  background-color: SteelBlue;
  cursor: pointer;
}

.active {
  color: #fff;
  background-color: SteelBlue;
  border-radius: 35px;
}
