.wrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.button {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px 10px;
  margin: 0 5px;
}

.button_all {
  background: SteelBlue;
  border-radius: 25px;
  color: #fff;
}

.button_all .count {
  color: #fff;
}

.button_active .count {
  color: #fff;
}

.button:hover,.button:focus {
  background: SteelBlue;
  border-radius: 25px;
  color: #fff;
}

.button:hover {
opacity: .8;
}

.count {
  padding-left: 5px;
  color: SteelBlue;
  margin: 0;
}

.button:hover .count {
  color: #fff;
}