.count {
  border-top: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text {
  text-align: center;
  color: crimson;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  padding: 5px;
}
