.form,
.form_error {
  width: 100%;
  height: 40px;
  display: flex;
  border-radius: 10px;
}

.form {
  margin-bottom: 15px;
  border: 2px solid DarkSlateBlue;
}

.form_error { border: 2px solid orange; }

.input {
  flex: 3;
  border: none;
  outline: none;
  border-radius: 8px;
  margin: 8px;
}

.button,
.button_error {
  flex: 1;
  color: #fff;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  border: none;
  outline: none;
}

.button { background: DarkSlateBlue; }

.button_error { background: orange; }

@media screen and (max-width: 460px) {
  
  .form,
  .form_error {
    height: 30px;
  }

  .form {
  margin-bottom: 10px; 
  }

}
